$LMTADDRESS {
  
  reverse_proxy /geoserver* geoserver:8080
  
  reverse_proxy web:3000 {
    lb_try_duration 30s
  }
  
  encode gzip
  log
}

$ANNOADDRESS {
  
  reverse_proxy cvat:81 {
    lb_try_duration 30s
  }
  
  encode gzip
  log
}