$LMTADDRESS {
  
  reverse_proxy /geoserver* geoserver:8080
  
  reverse_proxy web:3000 {
    lb_try_duration 30s
  }

  reverse_proxy /api* landscapes-services:5001
  
  encode gzip
  log
}

$ANNOADDRESS {
  
  reverse_proxy traefik:8080 {
    lb_try_duration 30s
  }
  
  encode gzip
  log
}

www.astuteai.co.uk, www.astuteai.tech {
  
  reverse_proxy astute-frontend:3000 {
    lb_try_duration 30s
  }
  
  encode gzip
  log
}
