<div class="card">
  <div class="card-header">
    Training data downloads
  </div>
  <div data-controller="content-loader" data-content-loader-url="<%= url_for [:admin, @region, :training_data_downloads, partial: true] %>" data-content-loader-interval="5000">
    <div data-content-loader-target="container" class="list-group list-group-flush">
      <%= render "table" %>
    </div>
  </div>
</div>
