<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Edit Dataset
  </div>

  <div class="card-body">
    <%= form_for @dataset do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>