.socket.boolean-dataset {
  background-color: blue;
}

.socket.categorical-dataset {
  background-color: yellow;
}

.socket.numeric-dataset {
  background-color: red;
}

.socket.number {
  background-color: orange;
}
