<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Label schemas
    <%= link_to new_team_label_schema_path(@team), class: "btn btn-sm btn-outline-primary", title: "Create new label schema" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% @team.label_schemas.order(:name).each do |label_schema| %>
      <%= link_to label_schema_labels_path(label_schema), class: "list-group-item list-group-item-action", data: { "filter-target": "item" } do %>
        <div class="d-flex align-items-center justify-content-between">
          <%= label_schema.name %>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
