<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Map tile downloads
    <%= link_to [:admin, @region, :map_tile_download, action: :new], class: "btn btn-sm btn-outline-primary", title: "Create new archive" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div data-controller="content-loader" data-content-loader-url="<%= admin_region_map_tile_downloads_path(@region, partial: true) %>" data-content-loader-interval="5000">
    <div data-content-loader-target="container" class="list-group list-group-flush">
      <%= render "table" %>
    </div>
  </div>
</div>
