<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Expressions
    <%= link_to [@team, :expression, action: :new], class: "btn btn-sm btn-outline-primary", title: "Create new expression" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>


  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
        <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>

    <% @team_expressions.sort_by { |extent| extent.name.downcase }.each do |expression| %>
        <div class="list-group-item list-group-item-action align-items-center" data-filter-target="item" style="display: flex; justify-content: space-between;">
            <div class="d-flex align-items-center">
                <%= expression.name %>
            </div>

            <% unless @team.memberships.find_by(user: current_user)&.guest? %>
                <div class="ms-auto">
                    <%= link_to expression_path(expression.id), method: :delete, data: { confirm: "Are you sure you want to delete '#{expression.name}'?" }, class: "px-3 py-2 text-danger" do %>
                        <i class="fas fa-trash-alt"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    </div>

</div>
