<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Projects
    <%= link_to [@team, :project, action: :new], class: "btn btn-sm btn-outline-primary", title: "Create new project" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
  <div class="list-group list-group-flush" data-controller="filter">
    <div class="list-group-item list-group-item-light">
      <input placeholder="Search" class="form-control" data-action="input->filter#update" autofocus>
    </div>
    <% @team.projects.sort_by(&:name).each do |project| %>
      <%= link_to project_path(project), class: "list-group-item list-group-item-action", data: { "filter-target": "item" } do %>
        <div class="d-flex align-items-center justify-content-between">
          <%= project.name %>
          <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" }, class: "btn btn-outline-danger" %>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
