<div
  data-controller="projects"
  data-projects-project-source-value="<%= @project.source.to_json %>"
  data-projects-back-button-path-value="<%= team_projects_path(@project.team) %>"
  data-projects-db-models-value="<%= render "defs.json" %>"
></div>
