<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        Define a new extent
    </div>
    <div class="card-body">
        <%= render partial: "form" %>
    </div>
</div>
