.model-editor {
  height: 100%;
  
  .context-menu {
    width: auto !important;

    .item {
      white-space: nowrap;
      padding-right: 40px !important;
    }

    .subitems {
      width: auto !important;
    }
  }

  .node {
    .socket {
      height: 1.2em;
      width: 1.2em;
    }
    .socket--layer {
      background: #b4a246;
    }

    .socket--map, .socket.numeric-dataset {
      background: #b44646;
    }

    .socket--set, .socket.boolean-dataset {
      background: steelblue;
    }

    .socket--number {
      background: #b47f46;
    }

    .socket.output.number {
      background: linear-gradient(#b47f46 50%, #b44646 50%);
    }

    .socket.dataset {
      background: linear-gradient(steelblue 50%, #b44646 50%);
    }
  }

  .connection .main-path {
    stroke: white;

    &:hover {
      stroke-width: 7px;
      stroke: white !important;
    }
  }

  .connection.socket-input-layer .main-path {
    stroke: #b4a246;
  }

  .connection.socket-input-set,
  .connection.socket-input-boolean-dataset,
  .connection.socket-output-boolean-dataset.socket-input-dataset {
    .main-path {
      stroke: steelblue;
    }
  }

  .connection.socket-input-map,
  .connection.socket-input-numeric-dataset,
  .connection.socket-output-numeric-dataset.socket-input-dataset {
    .main-path {
      stroke: #b44646;
    }
  }
}
