.model-editor {
  height: 100%;
  
  .context-menu {
    width: auto !important;

    .item {
      white-space: nowrap;
      padding-right: 40px !important;
    }

    .subitems {
      width: auto !important;
    }
  }

  .node {
    .socket {
      height: 1em;
      width: 1em;
      border: none;
    }
    .socket--layer {
      background: #b4a246;
    }

    .socket--map, .socket.numeric-dataset {
      background: #b44646;
    }

    .socket--set, .socket.boolean-dataset {
      background: steelblue;
    }

    .socket--number, .socket.number {
      background: #46b44c;
    }

    .socket.dataset {
      background: linear-gradient(steelblue 50%, #b44646 50%);
    }
  }

  .connection .main-path {
    stroke: white;

    &:hover {
      stroke-width: 7px;
      stroke: white !important;
    }
  }

  .connection.socket-input-layer .main-path {
    stroke: #b4a246;
  }

  .connection.socket-output-set,
  .connection.socket-output-boolean-dataset {
    .main-path {
      stroke: steelblue;
    }
  }

  .connection.socket-output-map,
  .connection.socket-output-numeric-dataset {
    .main-path {
      stroke: #b44646;
    }
  }

  .connection.socket-output-number,
  .connection.socket-output-number {
    .main-path {
      stroke: #46b44c;
    }
  }
}
